#keyboard {
	width: auto;
	height: 116px;
	border: solid 2px black;
	margin: auto;
	display: inline-flex;
}

#board {
	background-color: black;
	width: auto;
	padding: 0 60px 5px 60px;
	margin: 0 auto;
	float: left;
	background-color: #080808;
}
#side {
	width: 50px;
	height: 140px;
	float: left;
	background-image: url("Images/Side.png");
	background-size: 100% 100%;
}

#piano {
	margin: auto auto 20px auto;
	display: table;
	width: auto;
}

#box {
	width: 100%;
	height: 100px;
	background-color: black;
	margin: 0;
}

.scaleImg {
	width: 60px;
	display: inline-block;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;"
}

.scaleBox {
	display: flex;
	align-items: center;
	float: left;
	padding: 8px;
	margin: 10px;
	height: 60px;
	width: 130px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
}


.scalesSmall {
	display: none;
	margin: 0 auto
}

.scales {
	display: table;
	margin: 0 auto;
}

.buttonsBox {
	display: flex;
	flex-direction: column;
	width: auto;
	float: left;
	margin-left: 10px;
	flex-wrap: wrap;
	gap: 6px;
	column-gap: 6px;
}

.button {
	background-color: #282828;
	border: none;
	color: white;
	text-decoration: none;
	padding: 4px;
	width: 56px;
	border-radius: 4px;
	font-size: 13px;
}
.button:hover {
	background-color: #686868;
}

.keys{
	width: auto;
	height: inherit;
	display: block;
	position: relative;
}

.whiteKey {
	border-right: solid 1px black;
	height: inherit;
	width: 20px;
	float: left;
	background-color: transparent;
	background-image: url("Images/White.png");
	background-size: contain;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}

.blackKey {
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px black;

	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	height: 76px;
	width: 12px;
	float: left;
	left: 13px;
	position: absolute;
	background-color: transparent;
	background-image: url("Images/Black.png");
	background-size: 100% 100%;
}

.Db {
	left: 13px;
}
.Eb {
	left: 36px;
}
.Gb {
	left: 76px;
}
.Ab {
	left: 97px;
}
.Bb {
	left: 117px;
}


@media only screen and (max-width: 1400px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  #side {
	display: none;
  }
  #box {
	display: none;
  }
  #board {
	padding: 20px 30px 4px 30px;
  }
}

@media only screen and (max-width: 840px) {
  #keyboard {
	height: 100px;  
  }
  #side {
	display: none;
  }
  #box {
	display: none;
  }
  #board {
	padding: 10px 16px 0px 16px;
  }
  
  .whiteKey {
	width: 16px;
  }
  .blackKey {
	height: 68px;
	width: 10px;
  }
  .Db {
	left: 10px;
  }
  .Eb {
	left: 28px;
  }
  .Gb {
	left: 61px;
  }
  .Ab {
	left: 78px;
  }
  .Bb {
	left: 96px;
  }
  
  .scaleImg {
	width: 50px;
  }
  .button {
	padding: 2px;
	width: 46px;
	border-radius: 2px;
	font-size: 11px;
  }
  .scaleBox {
	padding: 6px;
	margin: 6px;
	height: 50px;
	width: 108px;
	border-radius: 2px;
  }
}

@media only screen and (max-width: 660px) {
  .hide2 {
    display: none;
  }
  .scales {
    display: none;
  }
  .scalesSmall {
    display: table;
  }
}
